<!DOCTYPE html>
<html>
 <head>
 <style>
 </style>
 </head>
  <body>
        <form id="delete-form" method="POST" action="/list/delete">
         <label for="data">Delete Position</label>
         <input type="text" name="data" value="<%= qs.person %>">
        <input type="submit" value="submit"/>
        </form>

</body>
</html>

