<!DOCTYPE html>
<html>
 <head>
 <style>
 </style>
 </head>
  <body>
        <form id="edit-form" method="POST" action="/list/edit">
         <label for="pos">Position</label>
         <input type="text" name="pos" value="<%= qs.person %>">
        <label for="data">New Data</label>
         <input type="text" name="data" value="<%= qs.person %>">


	<input type="submit" value="submit"/>
        </form>

</body>
</html>
